/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #950707;
    padding: 20px;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #a86f05b3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"],
button,
textarea {
    border-radius: 5px;
    border: 1px solid #fcf7f7;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

button {
    background-color: #a72d9b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

li textarea {
    border: none;
    background: none;
    flex-grow: 1;
    font-size: 16px;
    padding: 5px;
    resize: none;
    height: auto;
}

li textarea:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}

li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

li button:hover {
    background-color: #c82333;
}

.editBtn {
    background-color: #ffc107;
    margin-right: 10px;
}

.editBtn:hover {
    background-color: #e0a800;
}

@media (min-width: 600px) {
    li {
        flex-direction: row;
        align-items: center;
    }

    li textarea {
        height: 40px;
    }

    button {
        width: auto;
        margin-left: 10px;
    }
}

/* CSS for Toy Story image */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
